!!! 5
/[if lt IE 7] <html class='no-js lt-ie9 lt-ie8 lt-ie7'>
/[if IE 7]    <html class='no-js lt-ie9 lt-ie8'>
/[if IE 8]    <html class='no-js lt-ie9'>
<!--[if gt IE 8]><!-->
%html(class='no-js' lang='en')
  <!--<![endif]-->
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}

    -# Pull in the page title
    %title= current_page.data.title || 'Hubert Lee - Software Craftsman'

    %meta{ :name => 'description', :content => '' }
    %meta{ :name => 'author', :content => 'Hubert Lee' }
    %meta{ :name => 'viewport', :content => 'width=device-width; initial-scale=1.0' }

    -# Place favicon.ico and apple-touch-icon.png in the root directory

    =stylesheet_link_tag 'hube.github.io'
    =javascript_include_tag 'libs/modernizr-2.6.1.min'

  %body
    .container
      %header
        .masthead
          -#
            %ul.nav.nav-pills.pull-right
              %li.active
                %a(href='#') Home
              %li
                %a(href='#') About Me
          %h1
            Hubert Lee
            %small Software Craftsman
        %hr

      #main-content(role='main')
        /[if lt IE 7]
          %p.chromeframe
            You are using an outdated browser.
            <a href='http://browsehappy.com/'>Upgrade your browser today</a> or
            <a href='http://www.google.com/chromeframe/?redirect=true'>install
            Google Chrome Frame</a> to better experience this site.
        =yield

      %footer
        %p.pull-right
          &copy; #{copyright_years(2013)} Hubert Lee

    =javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'
    :javascript
      window.jQuery || document.write('<script src='/javascripts/libs/jquery-2.0.0.min.js'><\/script>')

    -# Holder.js - canvas-generated placeholder images for prototyping
    =javascript_include_tag 'libs/holder'

    =javascript_include_tag 'plugins', 'script', 'google_analytics', 'bootstrap-all'
