.row
  .span12
    .row
      .span3
        %img.img-rounded(title='Flying high in the Phillippines!'
                         src='http://www.gravatar.com/avatar/1083af62fc5be17d61582fdf16ff868f?s=220')
      .span8
        %h2 About
        %p.lead
          Hello! I'm Hubert Lee, a software craftsman specializing in Ruby on
          Rails. I am passionate about designing well-structured software and
          intuitive APIs, improving the user experience, and automation.
.row
  .span12
    .row
      .span4
        %h3 Contact
        %ul.unstyled
          %li
            %i.icon-envelope
            <a href='m&#97;&#105;lto&#58;h&#117;be&#37;72t&#46;lee&#64;&#97;l&#117;mni&#37;2Eri%6&#51;e&#46;&#101;%64u'>hube&#114;t&#46;&#108;ee&#64;alumni&#46;rice&#46;edu</a>
          %li
            %i.icon-linkedin
            %a(href='http://hk.linkedin.com/in/hubertklee/') Hubert Lee
          %li
            %i.icon-github
            %a(href='https://github.com/hube/') hube
          %li
            %i.icon-twitter
            %a(href='https://twitter.com/hubertklee') @hubertklee
      -#
        .span4
          %h3 Technologies I Like
          %ul
            %li
              %a(href='http://rubyonrails.org/') Ruby on Rails
            %li
      -#
        .span4
          %h3 Section
          &nbsp;
