.row
  .span12
    .row
      .span3
        %img.img-rounded(title='Flying high in the Phillippines!'
                         src='http://www.gravatar.com/avatar/1083af62fc5be17d61582fdf16ff868f?s=220')
      .span8
        %h2 About
        %p.lead
          Hello! I'm Hubert Lee, a software craftsman specializing in Ruby on
          Rails. I am passionate about designing well-structured software and
          intuitive APIs, improving the user experience, and automation.
.row
  .span12
    .row
      .span4
        %h3 Contact
        %ul.unstyled
          %li
            %i.icon-envelope
            <a href='ma&#105;l&#116;o&#58;h&#117;%62&#37;&#54;5rt&#64;s%6&#51;&#117;beds%6Fft&#46;&#99;%6F&#109;'>&#104;u&#98;ert&#64;sc&#117;be&#100;so&#102;t&#46;com</a>
          %li
            %i.icon-linkedin
            %a(href='http://hk.linkedin.com/in/hubertklee/') Hubert Lee
          %li
            %i.icon-github
            %a(href='https://github.com/hube/') hube
          %li
            %i.icon-twitter
            %a(href='https://twitter.com/hubertklee') @hubertklee
      .span4
        %h3 Technologies I Like
        %ul
          %li
            %a(href='http://rubyonrails.org/') Ruby on Rails
          %li
            %a(href='http://git-scm.com/') Git
          %li
            %a(href='http://www.cyanogenmod.org/') cyanogenmod
      .span4
        %h3 Awesome Companies
        %ul
          %li
            %a(href='http://launchpilots.com/') Launchpilots
          %li
            %a(href='http://thought-sauce.com/') Thought-Sauce
          %li
            %a(href='http://www.hkcocoon.org/en/index.aspx') CoCoon
